<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0101</key>
	<string>A</string>
	<key>0104</key>
	<string>A</string>
	<key>0103</key>
	<string>B</string>
	<key>0301</key>
	<string>B</string>
	<key>0302</key>
	<string>B</string>
	<key>0303</key>
	<string>B</string>
	<key>0304</key>
	<string>B</string>
	<key>0305</key>
	<string>B</string>
	<key>0102</key>
	<string>C</string>
	<key>0202</key>
	<string>D</string>
	<key>0201</key>
	<string>E</string>
	<key>0203</key>
	<string>E</string>
	<key>0204</key>
	<string>E</string>
	<key>0205</key>
	<string>E</string>
	<key>0206</key>
	<string>E</string>
	<key>0207</key>
	<string>E</string>
	<key>0208</key>
	<string>E</string>
	<key>0209</key>
	<string>E</string>
	<key>0210</key>
	<string>E</string>
	<key>0211</key>
	<string>E</string>
	<key>0212</key>
	<string>E</string>
	<key>0213</key>
	<string>E</string>
</dict>
</plist>
